Add support for non-literal tag and simple value numbers from RFC9682

Support non-literal tag and simple value numbers from [RFC9682 Section 3.2](https://www.rfc-editor.org/rfc/rfc9682.html#name-non-literal-tag-numbers-and)

For example:

```
redacted_keys = #7.<TBD4>
TBD4 = 59 ; suggested value, to be assigned by IANA

rats_tags = #6.<rats_tag_nums>([ * bstr ])
rats_tag_nums = 60000..60002 / 60010 / 60020..60021
```


